section {
    background-image: url(../assets/Friends-Background.jpg);
}

/* Button jumping effect */

@keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .jumpingButton {
    animation: jump 1s 5;
  }

/* Button design */

.jumpingButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #458567;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  }
  
  .jumpingButton:hover {
    background-color: #45a049;
  }
  
  .jumpingButton:active {
    background-color: #3e8e41;
  }
  